body {
    
    font-family:fantasy;  /*Fantasy font used thoughout each page, standard font*/
    color: black;     /*Standard color*/
    background-color: lightyellow; /*Background Color Standard*/
}

    wrapper   {
    width: 80%;  /* Keep this the same for each page, height standard 800px*/
    height: 800px;
}

#header{
    padding: 1em;
    color: white;
    background-color: darkorange; /* Darkorange is the header and footer color */
    clear: left;
    text-align: center;
    height: 100px;
    border-style: solid;
    border: 10px, 10px, 10px, 10px;
    border-color: skyblue; /* The border color stays sky blue thoughout*/
    width: 95%;
    
}

#leftside{
    float: left;  /* Floated to the left, to make sure the design is what was asked for */
    max-width: 200px;
    margin: 0;
    padding: 1em;
    background-color: skyblue;
    height: 120px;
    margin: 20px 10px 20px 10px;
}

#section{
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    background-color: skyblue;
    height: 785px;
    width: 75%;
    margin: 20px 3px 20px 3px;
}

#footer {
    padding: 1em;
    color: white;
    background-color: darkorange;
    clear: left;
    height: 50px;
    border-style: solid;
    border: 10px, 10px, 10px, 10px;
    border-color: skyblue;
    text-align: center;
    width: 95%;
}

ul {
    list-style-type: none; /*this makes is verticle bar*/
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkorange;
    font-family:fantasy;
    color: black;
    
}

li {
    border-style: groove;
    border-color: skyblue;
    border-width: 2px 2px 2px 2px;
}

li a {
    display: block;
    color: dimgrey;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    transition-property: background, border-radius; /*Some basic animation on the navigation bar buttons*/
    transition-duration: .3s, 2s; /*How long the animation will last and transisiton for*/
    transition-timing-function: linear, ease-out;
}


li a:hover {
    background-color: skyblue; /* When hovered over, the navigation buttons background color will change to skyblue*/
    color: lightyellow;
    border-radius: 30%;
}

li a.active {
    background-color: lightgoldenrodyellow;
    color: black;
}

a.link {
    color: white;
    font-size: 12;
    text-align: center;
}

a.hover {
    color: black;
}


h5 {
    text-align: left;
}

h1, h2 {
    font-family:fantasy;
    color: black;
    font-size: 22;
    margin-left: 14%;
}

h3 {
    font-family:fantasy;
    color: black;
    font-size: 18;
    text-align: center;
}
.logo {
    
    display: inline;
    float: right;
    margin-bottom: 50%;
    font-size: 20;
    
}

.rollover {
    display: block;
    margin-left: auto;
    margin-right: auto 
   
}
input[type=text], select, textarea {
    width: 500px; /* All text boxes on the contact page will have this width */
    padding: 5px;   
    border: none; 
    border-radius: 2px; 
    box-sizing: border-box; 
    margin-top: 2x; 
    margin-bottom: 6px; /
    resize: vertical 
}

input[type=submit] {
    background-color: lightyellow;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: skyblue;
}

input[type=reset] {
    background-color: lightyellow;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
}

input[type=reset]:hover {
     background-color: skyblue;
}

.container {
    border-radius: 5px;
    background-color: darkorange;
    padding: 10px;
    font-family: fantasy;
    color: black;
}
.container2{
    
    border-radius: 5px;
    background-color: darkorange;
    padding:10px;
    font-family: fantasy;
    color: black;
}

.containerslide{
    width:400px;
    height:500px;
    padding:20px;
    border:1px solid gray;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: black; 
}
.imageslides{
    overflow: hidden;
}
#image_slider{
    position: relative;
    height: 280px;
    padding:0;
}
#image_slider li{
    max-width: 100%;
    float:left;
    list-style: none;
}